// Base colors
$black: #000000;
$red: #E93E30;
$yellow: #F7E018;
$light-blue: #299ED5;
$grey: #292c33e4;
$gray: #dddd;
$green: #67C770;
$bright-green:#02A724;
$purple: #563D7C;
$background-post: #ffff;

$horizontal-post-height: 8rem;

$border-rounded: 0.5rem;
$border-section: 1px solid $gray;

$horizontal-space-full-width: 5rem;
// Variable que añade padding vertical a containers de ancho completo
$vertical-space-full-height-container: 2rem; // TODO: Buscar nombre adecuado
$font-large: 4.38rem;
$font-medium: 2rem;
$font-small: 1rem;
$font-xsmall: 0.75rem;

